.f1 {
       background-color: #ff0000;
       background-color: #fc0000;
       background-color: #ff0000;
       background-color: #ff0000;
       background-color: #ff0000;
       background-color: #ff0000;
}


H1 {
  color: #be7c00;
  font-size: 200%;
  font-family: Arial, Verdana, sans-serif;
  text-align: center;
}
P {
  padding-left: 20px;
}

